.content{
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
}
.icon{
    display: flex;
    justify-content: flex-end;
    font-size: 3vw;
    position: absolute;
    right: 0;
    color: rgb(131, 131, 131);
    top: 0;
}
.icon i{
    display: flex
}
.card{
    width: 100% !important;
}
.noteDetail{
    display: flex;
    gap: 5px;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: -7px;
    justify-content: space-around;
}
.noteDetail span{
    height: 5px;
    width: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #00000094;
}

.localSearch{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.localSearch input{
    text-indent: 0;
}
.localInput{
    width: 35%;
}
.localInput i{
    bottom: 16px;
    font-size: 1.5vw;
    position: absolute;
    right: 0;
    cursor: pointer;
}

@media(max-width: 640px){
    .localInput{
        width: 85%;
    }
    .localInput i{
        font-size: 6vw;
        right: 25px;
    }
    .localSearch{
        justify-content: center;
    }
    .content{
        justify-content: center;
        margin-top: 1em;
    }
    .icon{
        font-size: 10vw;
    }
    .card{
        width: 75% !important;
    }
}