.local-form-code{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-insert{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 50%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #5d5dff;
}