.active{
    background-color: #260E59;
    color: rgb(255, 255, 255) !important;
}
.containerBody{
    display: flex;
    justify-content: center;
}

.btnVerifyCode{
    height: 2.8em;
    font-weight: 700;
    border-radius: 5px;
    background-color: #9f72ff;
    color: white;
    border: 1px solid;
    cursor: pointer;
    width: 50%;
    transition: .2s ease-in-out;
}