.btnPost{
    bottom: 0;
    right: 17px;
    margin-top: 1em;
    position: absolute;
    margin: .7em;
}
ul{
    padding: 0 !important;
}
li{
    list-style: none;
    padding: 0;
}
input{
    outline: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #646cff;
    width: 100%;
    height: 35px;
    text-indent: 30px;
    font-size: 1em;
}
.successMessage {
    background-color: rgba(51, 255, 0, 0.397);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    font-size: 1vw;
    text-align: center;
    margin: 20px;
}
.errorMessage {
    background-color: rgb(255 0 0 / 60%);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    font-size: 1vw;
    text-align: center;
    margin: 20px;
    color: white;
}